# dataset
anet_videos

# extracted frames
extracted336_grid2

# pretrained model
ckpt/
pretrained_ckpt/

# features
features/

# images
*.jpg

# log
*log*

# cache
__pycache__/

# zip
*.zip
*.tar.gz

result.json

*.ipynb